:root {
    --bgColor: #1d1d1d;
    --textColor: #ececec;
    --correctColor: #78a673;
    --presentColor: #c9b458;
    --absentColor: #909091;
    --borderColor: #444;

}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bgColor);
    color: var(--textColor);
    text-align: center;
}

hr {
    border: 1px solid var(--borderColor);
    width: 70%;
}

#title {
    font-size: 36px;
    font-weight: bold; 
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    /*background-color: #333;*/
    justify-content: center;
    align-content: center;
}

button {
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    scale: 1.2;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}



.tile {
    /* Box */
    border: 2px solid var(--borderColor);
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: var(--textColor);
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Flexbox */
    
}

.correct {
    background-color: var(--correctColor);
    border-color: var(--correctColor);
    color: white;
}

.present {
    background-color: var(--presentColor);
    border-color: var(--presentColor);
    color: white;
}

.absent {
    background-color: var(--absentColor);
    border-color: var(--absentColor);
    color: white;
}

#keyboard {
    margin-top: 50px;
    font-family: 'Arial', sans-serif;
    font-weight: bold; 
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    scale: 1.2;
}

.kb-row {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.key-tile {
    width: 36px;
    height: 50px;
    margin: 1px;
    border: 1px solid var(--borderColor);
    color: var(--textColor);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--borderColor);
}

.enter-tile {
    width: 60px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid var(--borderColor);
    background-color: var(--borderColor);
    justify-content: center;
    align-items: center;
    display: flex;
}

.backspace-tile {
    width: 35px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid var(--borderColor);
    background-color: var(--borderColor);
    justify-content: center;
    align-items: center;
    display: flex;
}

.key-correct {
    background-color: var(--correctColor);
    border-color: var(--correctColor);
}

.key-present {
    background-color: var(--presentColor);
    border-color: var(--presentColor);
}

.key-absent {
    background-color: var(--bgColor);
}
